<%
    var cats = [];
    (articles || []).forEach(function (a) {
        if (a.category && cats.indexOf(a.category) === -1) cats.push(a.category);
    });
%>
<% if (cats.length) { %>
<nav class="chips" aria-label="Filter by category">
    <button type="button" class="chip is-active" data-cat="all" aria-pressed="true">All</button>
    <% cats.forEach(function (c) { %>
        <button type="button" class="chip" data-cat="<%= c %>" aria-pressed="false"><%= c %></button>
    <% }) %>
</nav>
<% } %>
